pydevccu==0.1.1
aiohttp>=3.8.1
voluptuous>=0.12.2
pylint==2.12.1
pylint-strict-informational==0.1
codecov==2.1.12
coverage==6.2.0
mypy==0.910
pytest==6.2.5
pytest-cov==2.12.1
pytest-aiohttp==0.3.0
pytest-rerunfailures==9.1.1
