pydevccu>=0.1.4
pip>=21.0,<22.4
aiohttp>=3.8.1
voluptuous>=0.13.1
pylint==2.15.7
pylint-strict-informational==0.1
codecov==2.1.12
coverage==6.4.4
isort==5.10.1
mypy==0.991
pytest>=7.2.0
pytest-timeout==2.1.0
pytest-cov==3.0.0
pytest-asyncio==0.20.2
pytest-aiohttp==1.0.4
pytest-rerunfailures==10.2
types-python-slugify==6.1.0
