-r requirements_test_pre_commit.txt
aiohttp>=3.8.1
codecov==2.1.12
coverage==7.1.0
mypy==1.0.0
pip==23.0
pre-commit==3.0.4
pydevccu==0.1.5
pylint-strict-informational==0.1
pylint==2.16.1
pytest-aiohttp==1.0.4
pytest-asyncio==0.20.3
pytest-cov==4.0.0
pytest-rerunfailures==11.0
pytest-socket==0.6.0
pytest-timeout==2.1.0
pytest==7.2.1
python-slugify>=4.0.1
types-python-slugify==6.1.0
voluptuous>=0.13.1
